{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    ["import",
      [
        {
          "libraryName": "antd",
          "libraryDirectory": "lib",
          "style": true
        },
        {
          "libraryName": "antd-mobile",
          "style": "css"
        },
      ]
    ]
  ]
}
